<div id="leaderboard">
  <% if @active_heros %>
    <div class="heros-list">
  		<h1>Top heroes</h1>
  		<ul>
  		<% @active_heros.each do |h| %>
  			<li>
  				<span class="rank">(<%= h.rank %>)</span>
  				<span class="hero-name"><%= link_to h.name_with_title, h %></span>
  				<span class="hero-stats"><%= sprintf("%+d",h.offense_mod) %></td><td>/</td><td><%= sprintf("%+d",h.defense_mod) %></span>
  				<span class="user-name"><%= h.user.login %></span>
  			</li>
  		<% end -%>
  	</ul>
    </div>
  <% end -%>

  <% if @dead_heros %>
    <div class="heros-list">
  		<h1>Hall of Fame (deceased)</h1>
  		<ul>
  		<% @dead_heros.each do |h| %>
  		  <li>
    		  <span class="rank">(<%= h.rank %>)</span>
    			<span class="hero-name"><%= link_to h.name_with_title, h %></span>
    			<span class="user-name"><%= h.user.login %></span>
    		</li>
  		<% end -%>
  		</ul>
    </div>
  <% end -%>
</div>

<div id="login-area">
  <% form_tag :controller => 'sessions', :action => 'create' do -%>
    <p><label for="login">Login</label><br/>
    <%= text_field_tag 'login' %></p>

    <p><label for="password">Password</label><br/>
    <%= password_field_tag 'password' %></p>

    <p><label for="remember_me">Remember me:</label>
    <%= check_box_tag 'remember_me' %></p>

    <p><%= submit_tag 'Log in', :disable_with => "Connecting..." %></p>
  <% end -%>

  <div id="signup">
    If you don't have an account,
    <%= link_to 'signup', signup_url %>.
  </div>
</div>
